h1 {
    width: max-content;
    margin-left: auto; 
    margin-right: auto;
    margin-block: 0;
    color: #800;
    font-size: 70px;
    font-family: 'Spirax', sans-serif;
}

section .content {
    width: 70%;
    margin-inline: auto;
}

section p,
section div.content > ul {
    width: 65%;
    margin-inline: auto;
    margin-block: 28px;
    padding: 8px;
    color: white;
    font-size: 18px;
    background-color: #111;
    opacity: 0.8;
    font-family: 'Poiret One', sans-serif;
}

section p.to-left,
section p.to-right {
    background-color: #800;
    text-align: center;
}

section p.to-left { margin-left: 10%; }
section p.to-right { margin-right: 10%; }

p.list .item { width: 100%; }

p.list .price {
    width: 100px;
    background-color: orange;
    text-align: right;
}

div.content > ul {
    list-style-type: none;
    padding-block: 4px;
}

div.content > ul li { padding-inline: 24px; }

div.content li .price {
    width: 100px;
    min-width: 100px;
    float: right;
    text-align: right;
}