section {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hot {
    background:url("../assets/hot.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

#juicy {
    background:url("../assets/juicy.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

#cosy {
    background:url("../assets/cosy.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}